@charset "UTF-8";

/*Typical Device Breakpoints
----------------------------------------
Pequenas Telas: até 600px
Celular: 600pxaté 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Telas Grandes: Acima de 1200px
----------------------------------------
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
    }

    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;     /* Escolher o lado que a imagem vai ficar */
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
    }
    
    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }
}